<footer style="background: linear-gradient(0deg,#fff 90%,hsla(0,0%,100%,0))" class="relative z-30">
    <div class="relative z-20 overflow-x-hidden">
        <div class="relative max-w-screen-2xl mx-auto sm:px-8">
            <div class="absolute inset-0 flex flex-col px-4 lg:px-12 xl:px-16">
                <div class="flex-1"></div>
                <div class="flex-1 bg-gray-100"></div>
            </div>
            <div class="relative max-w-screen-xl mx-auto px-8">
                <section class="relative z-10 p-6 bg-white shadow-lg md:flex md:items-center md:p-12 lg:p-16">
                    <div class="content md:pr-12">
                        <h2 class="text-3xl tracking-tight sm:text-4xl md:mt-4 xl:text-5xl">Become a Laravel Partner</h2>
                        <p class="mt-3 max-w-xl text-gray-600 sm:mt-5 md:max-w-2xl md:mt-8 md:text-lg">Laravel Partners are elite shops providing top-notch Laravel development and consulting. Each of our partners can help you craft a beautiful, well-architected project.</p>
                    </div>
                                             <a class="group relative h-12 inline-flex w-64 border border-red-600 sm:w-56 focus:outline-none mt-8" href="/partners">
    <span class="absolute inset-0 inline-flex items-center justify-center self-stretch px-6 text-white text-center font-medium bg-red-600 ring-1 ring-red-600 ring-offset-1 ring-offset-red-600 transform transition-transform group-hover:-translate-y-1 group-hover:-translate-x-1 group-focus:-translate-y-1 group-focus:-translate-x-1">
        Our Partners
    </span>
</a>
 
                                    </section>
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto px-4 lg:px-12 xl:px-16">
            <div class="px-8 pb-12 bg-gray-100 xl:px-20">
                <div>
                    <img class="-mt-2 max-w-4xl w-full transform -translate-x-12 lg:-translate-x-24 xl:-translate-x-40" src="{{site.baseurl}}/assets/img/logotype.min.svg" alt="Laravel">
                </div>
                <div class="mt-6 sm:mt-12 md:flex">
                    <div class="divide-y divide-gray-600 divide-opacity-25 sm:hidden">
                                                    <div
                                x-data="{ expanded: false }"
                                class="py-4"
                            >
                                <button class="-mx-2 px-2 w-full flex items-center justify-between py-2 font-bold" @click="expanded = ! expanded">
                                    <span>Highlights</span>
                                    <span class="transform transition-transform" :class="{ 'rotate-45': expanded }">&plus;</span>
                                </button>
                                <div
                                    x-show="expanded"
                                    x-cloak
                                    class="py-2 transition transform"
                                    x-transition:enter="duration-250 ease-out"
                                    x-transition:enter-start="opacity-0 -translate-y-8"
                                    x-transition:enter-end="opacity-100"
                                    x-transition:leave="duration-250 ease-in"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0 -translate-y-8"
                                >
                                    <ul class="space-y-2 text-gray-600 text-sm">
                                                                                    <li><a href="/docs/8.x/releases">Release Notes</a></li>
                                                                                    <li><a href="/docs/8.x/installation">Getting Started</a></li>
                                                                                    <li><a href="/docs/8.x/routing">Routing</a></li>
                                                                                    <li><a href="/docs/8.x/blade">Blade Templates</a></li>
                                                                                    <li><a href="/docs/8.x/authentication">Authentication</a></li>
                                                                                    <li><a href="/docs/8.x/authorization">Authorization</a></li>
                                                                                    <li><a href="/docs/8.x/artisan">Artisan Console</a></li>
                                                                                    <li><a href="/docs/8.x/database">Database</a></li>
                                                                                    <li><a href="/docs/8.x/eloquent">Eloquent ORM</a></li>
                                                                                    <li><a href="/docs/8.x/testing">Testing</a></li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div
                                x-data="{ expanded: false }"
                                class="py-4"
                            >
                                <button class="-mx-2 px-2 w-full flex items-center justify-between py-2 font-bold" @click="expanded = ! expanded">
                                    <span>Resources</span>
                                    <span class="transform transition-transform" :class="{ 'rotate-45': expanded }">&plus;</span>
                                </button>
                                <div
                                    x-show="expanded"
                                    x-cloak
                                    class="py-2 transition transform"
                                    x-transition:enter="duration-250 ease-out"
                                    x-transition:enter-start="opacity-0 -translate-y-8"
                                    x-transition:enter-end="opacity-100"
                                    x-transition:leave="duration-250 ease-in"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0 -translate-y-8"
                                >
                                    <ul class="space-y-2 text-gray-600 text-sm">
                                                                                    <li><a href="https://laracasts.com">Laracasts</a></li>
                                                                                    <li><a href="https://laravel-news.com">Laravel News</a></li>
                                                                                    <li><a href="https://laracon.us">Laracon</a></li>
                                                                                    <li><a href="https://laracon.eu/">Laracon EU</a></li>
                                                                                    <li><a href="https://laracon.com.au/">Laracon AU</a></li>
                                                                                    <li><a href="https://larajobs.com">Jobs</a></li>
                                                                                    <li><a href="https://certification.laravel.com/">Certification</a></li>
                                                                                    <li><a href="https://laracasts.com/discuss">Forums</a></li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div
                                x-data="{ expanded: false }"
                                class="py-4"
                            >
                                <button class="-mx-2 px-2 w-full flex items-center justify-between py-2 font-bold" @click="expanded = ! expanded">
                                    <span>Partners</span>
                                    <span class="transform transition-transform" :class="{ 'rotate-45': expanded }">&plus;</span>
                                </button>
                                <div
                                    x-show="expanded"
                                    x-cloak
                                    class="py-2 transition transform"
                                    x-transition:enter="duration-250 ease-out"
                                    x-transition:enter-start="opacity-0 -translate-y-8"
                                    x-transition:enter-end="opacity-100"
                                    x-transition:leave="duration-250 ease-in"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0 -translate-y-8"
                                >
                                    <ul class="space-y-2 text-gray-600 text-sm">
                                                                                    <li><a href="https://vehikl.com">Vehikl</a></li>
                                                                                    <li><a href="https://tighten.co">Tighten</a></li>
                                                                                    <li><a href="https://kirschbaumdevelopment.com/">Kirschbaum</a></li>
                                                                                    <li><a href="https://64robots.com/">64 Robots</a></li>
                                                                                    <li><a href="https://cubettech.com/">Cubet</a></li>
                                                                                    <li><a href="https://devsquad.com/">DevSquad</a></li>
                                                                                    <li><a href="https://www.ideil.com/">Ideil</a></li>
                                                                                    <li><a href="https://www.cyber-duck.co.uk/how-we-work/technology/laravel?utm_source=Laravel%20Partner&amp;utm_medium=Sponsorship">Cyber-Duck</a></li>
                                                                                    <li><a href="https://corporate.aboutyou.de/app/uploads/2019/08/INTRO-Pitch-I-AY-Tech.pdf?utm_source=laravelpartnersfindoutmore&amp;utm_medium=socialgroups&amp;utm_campaign=tech">ABOUT YOU</a></li>
                                                                                    <li><a href="https://www.a2design.biz/">A2 Design</a></li>
                                                                                    <li><a href="https://romegadigital.com/">Romega Software</a></li>
                                                                                    <li><a href="https://jump24.co.uk/">Jump24</a></li>
                                                                                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeOTE1G6zxSPbKdmQ59UKkL_Rja_ddAyG6Y6xxGdSGAWlNTFA/viewform">Become A Partner</a></li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div
                                x-data="{ expanded: false }"
                                class="py-4"
                            >
                                <button class="-mx-2 px-2 w-full flex items-center justify-between py-2 font-bold" @click="expanded = ! expanded">
                                    <span>Ecosystem</span>
                                    <span class="transform transition-transform" :class="{ 'rotate-45': expanded }">&plus;</span>
                                </button>
                                <div
                                    x-show="expanded"
                                    x-cloak
                                    class="py-2 transition transform"
                                    x-transition:enter="duration-250 ease-out"
                                    x-transition:enter-start="opacity-0 -translate-y-8"
                                    x-transition:enter-end="opacity-100"
                                    x-transition:leave="duration-250 ease-in"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0 -translate-y-8"
                                >
                                    <ul class="space-y-2 text-gray-600 text-sm">
                                                                                    <li><a href="https://vapor.laravel.com">Vapor</a></li>
                                                                                    <li><a href="https://forge.laravel.com">Forge</a></li>
                                                                                    <li><a href="https://envoyer.io">Envoyer</a></li>
                                                                                    <li><a href="/docs/8.x/horizon">Horizon</a></li>
                                                                                    <li><a href="https://lumen.laravel.com">Lumen</a></li>
                                                                                    <li><a href="https://nova.laravel.com">Nova</a></li>
                                                                                    <li><a href="/docs/8.x/broadcasting">Echo</a></li>
                                                                                    <li><a href="/docs/8.x/valet">Valet</a></li>
                                                                                    <li><a href="/docs/8.x/mix">Mix</a></li>
                                                                                    <li><a href="https://spark.laravel.com">Spark</a></li>
                                                                                    <li><a href="/docs/8.x/billing">Cashier</a></li>
                                                                                    <li><a href="/docs/8.x/homestead">Homestead</a></li>
                                                                                    <li><a href="/docs/8.x/dusk">Dusk</a></li>
                                                                                    <li><a href="/docs/8.x/passport">Passport</a></li>
                                                                                    <li><a href="/docs/8.x/scout">Scout</a></li>
                                                                                    <li><a href="/docs/8.x/socialite">Socialite</a></li>
                                                                                    <li><a href="/docs/8.x/telescope">Telescope</a></li>
                                                                            </ul>
                                </div>
                            </div>
                                            </div>
                    <div class="hidden sm:grid sm:grid-cols-2 sm:gap-x-4 sm:gap-y-8 md:w-1/2 lg:w-3/4 lg:grid-cols-4">
                                                    <div>
                                <span class="font-bold">Highlights</span>
                                <div class="mt-6">
                                    <ul class="space-y-3 text-gray-600 text-sm">
                                                                                    <li>
                                                <a href="/docs/8.x/releases" class="transition-colors hover:text-gray-700">Release Notes</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/installation" class="transition-colors hover:text-gray-700">Getting Started</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/routing" class="transition-colors hover:text-gray-700">Routing</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/blade" class="transition-colors hover:text-gray-700">Blade Templates</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/authentication" class="transition-colors hover:text-gray-700">Authentication</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/authorization" class="transition-colors hover:text-gray-700">Authorization</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/artisan" class="transition-colors hover:text-gray-700">Artisan Console</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/database" class="transition-colors hover:text-gray-700">Database</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/eloquent" class="transition-colors hover:text-gray-700">Eloquent ORM</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/testing" class="transition-colors hover:text-gray-700">Testing</a>
                                            </li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div>
                                <span class="font-bold">Resources</span>
                                <div class="mt-6">
                                    <ul class="space-y-3 text-gray-600 text-sm">
                                                                                    <li>
                                                <a href="https://laracasts.com" class="transition-colors hover:text-gray-700">Laracasts</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://laravel-news.com" class="transition-colors hover:text-gray-700">Laravel News</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://laracon.us" class="transition-colors hover:text-gray-700">Laracon</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://laracon.eu/" class="transition-colors hover:text-gray-700">Laracon EU</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://laracon.com.au/" class="transition-colors hover:text-gray-700">Laracon AU</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://larajobs.com" class="transition-colors hover:text-gray-700">Jobs</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://certification.laravel.com/" class="transition-colors hover:text-gray-700">Certification</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://laracasts.com/discuss" class="transition-colors hover:text-gray-700">Forums</a>
                                            </li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div>
                                <span class="font-bold">Partners</span>
                                <div class="mt-6">
                                    <ul class="space-y-3 text-gray-600 text-sm">
                                                                                    <li>
                                                <a href="https://vehikl.com" class="transition-colors hover:text-gray-700">Vehikl</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://tighten.co" class="transition-colors hover:text-gray-700">Tighten</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://kirschbaumdevelopment.com/" class="transition-colors hover:text-gray-700">Kirschbaum</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://64robots.com/" class="transition-colors hover:text-gray-700">64 Robots</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://cubettech.com/" class="transition-colors hover:text-gray-700">Cubet</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://devsquad.com/" class="transition-colors hover:text-gray-700">DevSquad</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://www.ideil.com/" class="transition-colors hover:text-gray-700">Ideil</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://www.cyber-duck.co.uk/how-we-work/technology/laravel?utm_source=Laravel%20Partner&amp;utm_medium=Sponsorship" class="transition-colors hover:text-gray-700">Cyber-Duck</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://corporate.aboutyou.de/app/uploads/2019/08/INTRO-Pitch-I-AY-Tech.pdf?utm_source=laravelpartnersfindoutmore&amp;utm_medium=socialgroups&amp;utm_campaign=tech" class="transition-colors hover:text-gray-700">ABOUT YOU</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://www.a2design.biz/" class="transition-colors hover:text-gray-700">A2 Design</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://romegadigital.com/" class="transition-colors hover:text-gray-700">Romega Software</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://jump24.co.uk/" class="transition-colors hover:text-gray-700">Jump24</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOTE1G6zxSPbKdmQ59UKkL_Rja_ddAyG6Y6xxGdSGAWlNTFA/viewform" class="transition-colors hover:text-gray-700">Become A Partner</a>
                                            </li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div>
                                <span class="font-bold">Ecosystem</span>
                                <div class="mt-6">
                                    <ul class="space-y-3 text-gray-600 text-sm">
                                                                                    <li>
                                                <a href="https://vapor.laravel.com" class="transition-colors hover:text-gray-700">Vapor</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://forge.laravel.com" class="transition-colors hover:text-gray-700">Forge</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://envoyer.io" class="transition-colors hover:text-gray-700">Envoyer</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/horizon" class="transition-colors hover:text-gray-700">Horizon</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://lumen.laravel.com" class="transition-colors hover:text-gray-700">Lumen</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://nova.laravel.com" class="transition-colors hover:text-gray-700">Nova</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/broadcasting" class="transition-colors hover:text-gray-700">Echo</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/valet" class="transition-colors hover:text-gray-700">Valet</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/mix" class="transition-colors hover:text-gray-700">Mix</a>
                                            </li>
                                                                                    <li>
                                                <a href="https://spark.laravel.com" class="transition-colors hover:text-gray-700">Spark</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/billing" class="transition-colors hover:text-gray-700">Cashier</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/homestead" class="transition-colors hover:text-gray-700">Homestead</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/dusk" class="transition-colors hover:text-gray-700">Dusk</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/passport" class="transition-colors hover:text-gray-700">Passport</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/scout" class="transition-colors hover:text-gray-700">Scout</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/socialite" class="transition-colors hover:text-gray-700">Socialite</a>
                                            </li>
                                                                                    <li>
                                                <a href="/docs/8.x/telescope" class="transition-colors hover:text-gray-700">Telescope</a>
                                            </li>
                                                                            </ul>
                                </div>
                            </div>
                                            </div>
                    <div class="mt-10 max-w-md md:mt-0 md:w-1/2 lg:w-1/4">
                        <p class="text-xs text-gray-600 sm:text-sm">Laravel is a web application framework with expressive, elegant syntax. We believe development must be an enjoyable and creative experience to be truly fulfilling. Laravel attempts to take the pain out of development by easing common tasks used in most web projects.</p>
                        <p class="mt-6 text-xs text-gray-600 text-opacity-75 sm:text-sm">
                            Laravel is a Trademark of Taylor Otwell.<br>Copyright &copy; 2011-2021 Laravel LLC.
                        </p>
                        <ul class="mt-6 flex items-center space-x-3">
                            <li>
                                <a href="https://twitter.com/laravelphp">
                                    <img class="w-6 h-6" src="{{site.baseurl}}/assets/img/social/twitter.min.svg" alt="Twitter">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/laravel">
                                    <img class="w-6 h-6" src="{{site.baseurl}}/assets/img/social/github.min.svg" alt="GitHub">
                                </a>
                            </li>
                            <li>
                                <a href="https://discord.gg/mPZNm7A">
                                    <img class="w-6 h-6" src="{{site.baseurl}}/assets/img/social/discord.min.svg" alt="Discord">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center py-6">
            <a href="/" class="logomark">
                <img class="w-9 h-9" src="{{site.baseurl}}/assets/img/logomark.min.svg" alt="Laravel">
            </a>
        </div>
    </div>
</footer>